<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <mat-icon matSuffix>editar</mat-icon>
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
              {{dialogTitle}}</div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>cerrar</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="alumnoForm" (ngSubmit)="submit">
        <div class="row">
           
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Expediente</mat-label>
              <input matInput formControlName="txt_expediente" required>
              <mat-error *ngIf="alumnoForm.get('txt_expediente').hasError('required')">
                El expediente es requerido.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="txt_nombre" required type="text" onkeydown="return /[a-z, ]/i.test(event.key)">
              <mat-error *ngIf="alumnoForm.get('txt_nombre').hasError('required')">
                El nombre es requerido.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Apellido paterno</mat-label>
              <input matInput formControlName="txt_ape_paterno" required type="text" onkeydown="return /[a-z, ]/i.test(event.key)"
               [readonly]="true">
              <mat-error *ngIf="alumnoForm.get('txt_ape_paterno').hasError('required')">
                Campo requerido.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Apellido materno</mat-label>
              <input matInput formControlName="txt_ape_materno" required type="text" onkeydown="return /[a-z, ]/i.test(event.key)">
              <mat-error *ngIf="alumnoForm.get('txt_ape_materno').hasError('required')">
                Campo requerido.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>CURP</mat-label>
                  <input matInput formControlName="txt_curp" required>
                  <mat-error *ngIf="alumnoForm.get('txt_curp').hasError('required')">
                    La CURP es requerida.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Sexo</mat-label>
                  <mat-select matNativeControl formControlName="txt_sexo">
                    <mat-option value = "Masculino">Masculino</mat-option>
                    <mat-option value = "Femenino">Femenino</mat-option>
                    <mat-error *ngIf="alumnoForm.get('txt_sexo').hasError('required')">
                      Seleccione una opción.
                    </mat-error>
                  </mat-select>
                </mat-form-field>
              </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Correo</mat-label>
                  <input matInput formControlName="txt_correo" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
                  <mat-error *ngIf="alumnoForm.get('txt_correo').hasError('required')">
                    El correo es requerido.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Estatus</mat-label>
                  <mat-select matNativeControl formControlName="fk_status">
                    <mat-option value = "1">Inactivo</mat-option>
                    <mat-option value = "2">Activo</mat-option>
                    
                  <mat-error *ngIf="alumnoForm.get('fk_status').hasError('required')">
                    Seleccione una opción.
                  </mat-error>
                </mat-select>
                </mat-form-field>
              </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Grupo</mat-label>
                  <mat-select matNativeControl formControlName="txt_desc_grupo">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let pkgrupo of grupo" [value] = "pkgrupo">{{pkgrupo}}</mat-option>
             
                  <mat-error
                *ngIf="alumnoForm.get('txt_desc_grupo').hasError('required')">
                Ingresa el grupo.
              </mat-error>
            </mat-select>
                </mat-form-field> 
              </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="end">
              <button type="button" class="btn btn-outline-primary" [type]="submit" [disabled]="!alumnoForm.valid"
                [mat-dialog-close]="1" (click)="aceptar()">Guardar</button>
              <button type="button" class="btn btn-outline-danger" (click)="onNoClick()" tabindex="-1">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
