<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <mat-icon matSuffix>editar</mat-icon>
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
              {{dialogTitle}}</div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>cerrar</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="alumnoForm" (ngSubmit)="submit">
        <div class="row">
           
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Expediente</mat-label>
              <input matInput formControlName="txt_expediente" required>
              <mat-error *ngIf="alumnoForm.get('txt_expediente').hasError('required')">
                El expediente es requerido.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="txt_nombre" required>
              <mat-error *ngIf="alumnoForm.get('txt_nombre').hasError('required')">
                El nombre es requerido.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Ape-Paterno</mat-label>
              <input matInput formControlName="txt_ape_paterno" required>
              <mat-error *ngIf="alumnoForm.get('txt_ape_paterno').hasError('required')">
                El nombre es requerido.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Ape-Paterno</mat-label>
              <input matInput formControlName="txt_ape_materno" required>
              <mat-error *ngIf="alumnoForm.get('txt_ape_materno').hasError('required')">
                El nombre es requerido.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>CURP</mat-label>
                  <input matInput formControlName="txt_curp" required>
                  <mat-error *ngIf="alumnoForm.get('txt_curp').hasError('required')">
                    La CURP es requerida.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Sexo</mat-label>
                  <select matNativeControl formControlName="txt_sexo">
                    <option value = "Masculino">Masculino</option>
                    <option value = "Femenino">Femenino</option>
                    <option value = "Otro">Otro</option>
                    <mat-error *ngIf="alumnoForm.get('txt_sexo').hasError('required')">
                      Seleccione una opción.
                    </mat-error>
                  </select>
                </mat-form-field>
              </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Correo</mat-label>
                  <input matInput formControlName="txt_correo" required>
                  <mat-error *ngIf="alumnoForm.get('txt_correo').hasError('required')">
                    El correo es requerido.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Estatus</mat-label>
                  <input matInput formControlName="fk_status" required>
                  <mat-error *ngIf="alumnoForm.get('fk_status').hasError('required')">
                    Estatus requerido.
                  </mat-error>
                
                  <!--<select matNativeControl formControlName="fk_status">
                    <option value = "2">Activo</option>
                    <option value = "1">Inactivo</option>
                    <mat-error *ngIf="alumnoForm.get('fk_estatus').hasError('required')">
                      Seleccione un estatus.
                    </mat-error>
                  </select>-->
                </mat-form-field>
              </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>grupo</mat-label>
                  <!--<ng-template [ngTemplateOutlet]="outlet" [ngOutletContext]="context"></ng-template><input matInput formControlName="fk_grupo" required>
                  <mat-error *ngIf="alumnoForm.get('fk_grupo').hasError('required')">
                    El correo es requerido.
                  </mat-error>-->
                
                  <select matNativeControl formControlName="fk_grupo">
                      <option></option>
                      <option *ngFor="let fkgrupo of grupo">{{fkgrupo}}</option>
             
                  <mat-error
                *ngIf="alumnoForm.get('fk_grupo').hasError('required')">
                Ingresa el grupo.
              </mat-error>
            </select>
                </mat-form-field> 
              </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="end">
              <button mat-raised-button color="primary" [type]="submit" [disabled]="!alumnoForm.valid"
                [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
