<section class="content">
  <div class="content-block">
    <div class="block-header">
      <h1>Expedientes</h1>
      
        
          <div class="form-row"> 
            <form [formGroup]="formBusqueda">
              <div class="row" >
                  <div class="col-7">
                      <mat-form-field appearance="fill" class="col-7">
                        <mat-label>CURP</mat-label>
                        <input matInput maxlength="18" id="curp"  formControlName="curp" onkeydown="return /[a-zA-Z0-9]/i.test(event.key)">
                      </mat-form-field
                      >
                    </div>

                <div class="col-3">
                  <button type="button" class="btn btn-primary" (click)="buscarExpediente()" type="submit">
                      Buscar expediente
                    </button>
                </div>

                
                      
                          <mat-table #table matTableExporter [dataSource]="dataArray" matSort class="mat-cell"
                            #exporter="matTableExporter" >
                            
                            <!-- ID Column -->
                            <ng-container matColumnDef="curp">
                              <mat-header-cell *matHeaderCellDef class="col-4" >CURP</mat-header-cell>
                              <mat-cell *matCellDef="let row" class="col-4"> {{row.curp}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="nombre">
                              <mat-header-cell *matHeaderCellDef  class="col-4">Nombre</mat-header-cell>
                              <mat-cell *matCellDef="let row" class="col-4"> {{row.nombre}} {{row.apePat}} {{row.apeMat}} </mat-cell>
                            </ng-container>
                          
                            <!-- actions -->
                            <ng-container matColumnDef="actions" >
                              <mat-header-cell *matHeaderCellDef class="col-2">Acciones</mat-header-cell>
                              <mat-cell *matCellDef="let row" class="col-2">
                    
                                <button title="Perfil alumno" type="button"class="btn btn-outline-primary" [routerLink]="['./expediente', row.idExpediente]">
                                  
                                Ver expediente</button>
                                <!--<button mat-icon-button color="accent" [routerLink]="['./alumnoPerfil', row.idAlumno]" 
                                    class="tbl-action-btn">
                                    <app-feather-icons [icon]="'users'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                  </button>-->
                              </mat-cell>
                              
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" 
                              [style.cursor]="'pointer'" matRipple>
                            </mat-row> 
                          </mat-table>

              </div>
            </form> 
          </div> 
    </div>
  </div>
</section>