<!-- <body class="bg-success row align-items-center justify-content-center vh-100 ">

  <div class="col-sm-6 text-center">
<div class="container">
 <div class="jusrify-content-center">
 <div class="card">
  <div class="card-header">Detalles Alumno</div>
  <div class="card-body">
    <p>Nombre {{alumno.nombre}} {{alumno.apePaterno}}</p>
    <p> {{alumno.idGrupo.desc_grupo}}</p>
  </div>
 </div>
 </div>
 </div>
 
  </div>
</body> -->
<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/administracion/alumno/vista-profesor']">
                <mat-icon>keyboard_arrow_left</mat-icon> 
              </button>
            <app-breadcrumb [title]="'Perfil del alumno'" [items]="['Alumnos']" [active_item]="'alumno'">
            </app-breadcrumb>
        </div>

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="card">
                    <div class="header">
                        <h2>Calificaciones</h2>
                    </div>
                    <div class="tableBody">
                        <div class="table-responsive">
                            <mat-table #table matTableExporter [dataSource]="alumateria" matSort class="mat-cell"
                                #exporter="matTableExporter">

                                <!-- ID Column -->
                                <ng-container matColumnDef="nombre">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Materia</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row[0]}}: {{row[1]}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="cal1">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad 1 </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row[5]}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="cal2">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad 2</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row[6]}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="cal3">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad 3</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row[7]}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <!-- <button type="button"class="btn btn-outline-primary" [routerLink]="['../../editarCalif', row[8]]"  >
                                            <mat-icon>create</mat-icon> 
                                        </button> -->
                                        <button type="button" class="btn btn-outline-success" (click)="editarCalificaciones(row, row[8])">
                                            <mat-icon>create</mat-icon> 
                                          </button>
                                    </mat-cell>
                                </ng-container>


                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'"
                                    matRipple>

                                </mat-row>
                            </mat-table>
                        </div>
                    </div>

                </div>
                
                
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">
                                   
                                </div><div class="name-center">
                                 <h1  style="font-size:230%; font-family: monospace;">{{alumno.nombre}}</h1>
                                 
                                <p  style="font-size:130%; font-family: monospace;">{{alumno.apePaterno}} {{alumno.apeMaterno}}</p></div>
                            </div>
                           
                            <p>

                                Sexo: {{alumno.sexo}}
                                <br />
                                CURP: {{alumno.curp}}


                            </p>
                            <div>
                                <span class="phone">
                                    <i class="material-icons">email</i>{{alumno.correo}}</span>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <span class="material-icons md-12">person_pin</span>
                                    <br />
                                    <small>Expediente</small>
                                    <h5>{{alumno.expediente}}</h5>
                                </div>
                                <div class="col-4">
                                    <span class="material-icons md-18">groups</span>
                                    <br />
                                    <small>Grupo</small>
                                    <h5>{{alumno.idGrupo.descGrupo}}</h5>
                                </div>
                                <div class="col-4">
                                    <span class="material-icons md-18">content_paste</span>
                                    <br />
                                    <small>Ciclo</small>
                                    <h5>{{alumno.idGrupo.idCiclo.descCiclo}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>