
<style type="text/css">   
    .mayus { text-transform: uppercase;}   
  </style>

  <style type="text/css">
    .capitalizar{text-transform: capitalize;}
  </style>
  
  <section class="content">
    <div class="content-block">
  
      <br>
        <div class="card" >
          <div class="card-body">
  
            <form [formGroup]="busquedaDinamica" (submit)="buscarProfesor()" class="form-group row">
  
             <div class="col-2">
                <mat-form-field appearance="fill" style="width: 300px; padding-left: 90px;">
                  <mat-label for="profesor" >Clave Profesor</mat-label>
                  <input matInput type="text" formControlName="clave" placeholder=" CLAVE: P00001"  name="grupo"  class="mayus"  maxlength="6"> </mat-form-field>  
            </div>

            <div class="col-2">
                <mat-form-field appearance="fill" style="width: 300px; padding-left: 90px;">
                  <mat-label for="profesor" >Nombre Profesor</mat-label>
                  <input matInput type="text" formControlName="nombre" placeholder=" NOMBRE: Apolinar"  name="grupo" class="capitalizar" (keypress)="validateFormat($event)" maxlength="50" > </mat-form-field>  
            </div>

            <div class="col-2">
                <mat-form-field appearance="fill" style="width:300px; padding-left: 90px;">
                  <mat-label for="profesor" >Apellido Paterno Profesor</mat-label>
                  <input matInput type="text" formControlName="apePaterno" placeholder=" APELLIDO P: Trejo"  name="grupo" class="capitalizar"  (keypress)="validateFormat($event)"  maxlength="50"> </mat-form-field>  
            </div>

            <div class="col-2">
                <mat-form-field appearance="fill" style="width: 300px; padding-left: 90px;">
                  <mat-label for="profesor" >Apellido Materno Profesor</mat-label>
                  <input matInput type="text" formControlName="apeMaterno" placeholder=" APELLIDO M: Cuevas"  name="grupo" class="capitalizar" (keypress)="validateFormat($event)"   maxlength="50"> </mat-form-field>  
            </div>

            <div class="col-2">
              <mat-form-field appearance="fill" style="width: 400px; padding-left: 90px;">
                <mat-label for="profesor" >Correo Profesor</mat-label>
                <input matInput type="text" formControlName="correo" placeholder=" CORREO: P00001@profesores.edu.mx"  name="grupo"   maxlength="20"> </mat-form-field>  
          </div>

            
                
                       
            <div class="row" >

              <div class="col-3"  >
                
             </div>
             
             <div class="col-4"  >
                
            </div>

                 <!-- BOTON AÑADIR UN NUEVO PROFESOR   -->
                  <div class="col-1" style="float: left;" style="padding-left: 100px;" >
                    <button mat-mini-fab color = "primary" >
                      <mat-icon>add</mat-icon>
                    </button>
                 </div>
     
                      <!-- BOTON BUSQUEDA DINAMICA    -->
                  <div class="col-1" style="float: left;" style="padding-left: 80px;">
                    <button class="btn btn-primary" type="submit">
                      <mat-icon class="col-white">search</mat-icon>
                    </button>
                  </div>

                       <!-- BOTON AMOSTRAR TODOS LOS PROFESOR LIST   -->
                 <div class="col-2"  style="padding-left: 80px;">
                 <button  class=" btn btn-outline-primary" type="button" (click)="consultarTodos()">
                  Mostrar Todos
                </button>  
              </div>

                   <!-- BOTON LIMPIAR DATOS DE LA TABLA  -->
              <div class="col-1" >
                <button  class="btn btn-outline-warning" type="button" (click)="limpiar()">
                Limpiar 
               </button>  
               </div>
             
            </div>      
                 
  
            </form>
          </div>
        </div>
  
  
        <div class="card">
          <div class="card-body">
  
            <div class="mat-elevation-z8">
              <mat-table  [dataSource]="dato"> 
  
                <ng-container matColumnDef="IdProfesor">
                  <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                  <mat-cell *matCellDef="let dato"> {{dato.IdProfesor}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="clave">
                  <mat-header-cell *matHeaderCellDef> Clave Profesor</mat-header-cell>
                  <mat-cell *matCellDef="let dato"> {{dato.clave}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
                  <mat-cell *matCellDef="let dato"> {{dato.nombre}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="apePaterno">
                  <mat-header-cell *matHeaderCellDef> Ape Paterno </mat-header-cell>
                  <mat-cell *matCellDef="let dato"> {{dato.apePaterno}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="apeMaterno">
                    <mat-header-cell *matHeaderCellDef> Ape Materno </mat-header-cell>
                    <mat-cell *matCellDef="let dato"> {{dato.apeMaterno}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="correo" >
                    <mat-header-cell *matHeaderCellDef  class="col-2"> Correo E </mat-header-cell>
                    <mat-cell *matCellDef="let dato"  class="col-2"> {{dato.correo}}</mat-cell>
                  </ng-container>
  
  
                <!-- BOTONES -->
  
                <ng-container matColumnDef="editar"  style="padding-left: 50px;">
                  <mat-header-cell *matHeaderCellDef  > Acciones </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button type="button" id="btnAccion" class="btn btn-outline-success" (click)="guardar(row)">
                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                    </button>
                  </mat-cell>
  
  
                </ng-container>
                <ng-container matColumnDef="eliminar">
                  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button type="button" id="btnAccion" class="btn btn-outline-danger" (click)="eliminarGrupo(row.id)">
                      <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                    </button>
    
                  </mat-cell>
                </ng-container>
  
                <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  
              </mat-table>
  
              <!-- PAGINACION  -->

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page"> </mat-paginator>
  
           
  
            </div>
          </div>
        </div>
    </div>
  </section>
  
  
  
    
  

