
 <section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/administracion/alumno/todos-alumnos']">
          <mat-icon>keyboard_arrow_left</mat-icon> 
        </button>
        <app-breadcrumb [title]="'Perfil del alumno'" [items]="['Alumnos']" [active_item]="'Perfil del alumno'">
        </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>Calificaciones</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <mat-table #table matTableExporter [dataSource]="alumateria" matSort class="mat-cell"
              #exporter="matTableExporter">
              
              <!-- ID Column -->
              <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef class="col-3">Materia</mat-header-cell>
                <mat-cell *matCellDef="let row" class="col-3">{{row[0]}}:  {{row[1]}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="profesor">
                <mat-header-cell *matHeaderCellDef class="col-3">Profesor</mat-header-cell>
                <mat-cell *matCellDef="let row" class="col-3">{{row[2]}} {{row[3]}} {{row[4]}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="cal1">
                <mat-header-cell *matHeaderCellDef class="col-2">Unidad 1 </mat-header-cell>
                <mat-cell *matCellDef="let row" class="col-2">{{row[5]}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cal2">
                <mat-header-cell *matHeaderCellDef class="col-2">Unidad 2</mat-header-cell>
                <mat-cell *matCellDef="let row" class="col-2">{{row[6]}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="cal3">
                <mat-header-cell *matHeaderCellDef class="col-2">Unidad 3</mat-header-cell>
                <mat-cell *matCellDef="let row" class="col-3">{{row[7]}}</mat-cell>
              </ng-container>
              
              
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
              <mat-row *matRowDef="let row; columns: displayedColumns;" 
                [style.cursor]="'pointer'" matRipple>
              </mat-row>
          </mat-table>
            </div>
          </div>
        </div>
      </div> 
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">
                  <p> <strong>{{alumno.nombre}}</strong> </p>
                </div>
                <div class="name-center">{{alumno.apePaterno}} {{alumno.apeMaterno}}</div>
              </div>
              
              <p>
                
                Sexo: {{alumno.sexo}}
                <br />
                CURP: {{alumno.curp}}
                
            
              </p>
              <div>
                <span class="phone">
                  <i class="material-icons">email</i>{{alumno.correo}}</span>
              </div>
              <div class="row">
                <div class="col-4">
                  <i class="fab fa-twitter"></i>
                  <small>Expediente</small>
                  <h5>{{alumno.expediente}}</h5>
                </div>
                <div class="col-4">
                  <small>Grupo</small>
                  <h5>{{alumno.idGrupo.descGrupo}}</h5>
                </div>
                <div class="col-4" >
                  <small>Ciclo</small>
                  <h5>{{alumno.idGrupo.idCiclo.descCiclo}}</h5> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
     </div>
  </div>
</section> 