
<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Alumnos'" [items]="['Alumno']" [routerLink]="['./vista-profesor']" >
        </app-breadcrumb>
        <div class="card">
          <div class="body">
            <div class="form-row"> 
              <form [formGroup]="formBusqueda">
                <div class="row admiAlumno">
                  <div class="col">
                    <h4>Filtro de búsqueda</h4>
                  </div>
                </div>
                <div class="row formBusqueda">
                  <div class="col-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Expediente</mat-label>
                      <input matInput maxlength="12" id="expediente"  formControlName="expediente" class="form-control" type="text">
                    </mat-form-field>
                  </div>
  
                  <div class="col-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Nombre</mat-label>
                      <input matInput id="nombre" maxlength ="30" formControlName="nombre" class="form-control" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Apellido paterno</mat-label>
                      <input matInput id="apePaterno" maxlength ="30" formControlName="apePaterno" class="form-control" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Apellido materno</mat-label>
                      <input matInput id="apeMaterno" maxlength ="30" formControlName="apeMaterno" type="text" onkeydown="return /[a-záéíóúñ]/i.test(event.key)">
                    </mat-form-field>
                  </div>
                  
                  <div class="row">
                    <div class="col-3">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>CURP</mat-label>
                        <input matInput maxlength="8" id="curp"  formControlName="curp" class="form-control" type="text">
                      </mat-form-field>
                    </div>

                    <div class="col-3">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Correo</mat-label>
                        <input matInput id="correo" maxlength ="30" formControlName="correo" class="form-control" type="text">
                      </mat-form-field>
                    </div>

                    
                  <div class="col-2">
                    <button type="button" class="btn btn-primary" (click)="buscarAlumnoFiltro()" type="submit">
                        <mat-icon class="col-white">search</mat-icon>
                      </button>
                  </div>
                  <div class="col-2">
                    <button type="button" class="btn btn-outline-primary" (click)="consultarTodos()">
                      Consultar todos
                    </button>
                  </div>
                  <div class="col-2">
                    <button type="button" class="btn btn-outline-primary" (click)="limpiar()">
                      Limpiar
                    </button>
                  </div>
                  
                  </div>
            
                  <div class="row">
                    
                  </div>
  
                </div>
              </form> 
          </div>
          </div>
      </div>
  
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="mat-elevation-z8">
                
                <mat-table #table matTableExporter [dataSource]="dataArray" matSort class="mat-cell"
                  #exporter="matTableExporter" >
                  
                  <!-- ID Column -->
                  <ng-container matColumnDef="expediente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="col-1">Expte.</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="col-1"> {{row.expediente}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="col-3">Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="col-3"> {{row.nombre}} {{row.apePaterno}} {{row.apeMaterno}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="curp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2" >CURP</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="col-2">{{row.curp}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="correo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="col-3">Correo</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="col-3"> {{row.correo}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2">Estatus</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="col-2">
                      <p *ngIf= "row.fk_status == 2; else estatus2">Activo</p>
                      <ng-template #estatus2>
                        <p>Inactivo</p>
                      </ng-template>
                    </mat-cell>
                  </ng-container>
                  <!-- actions -->
                  <ng-container matColumnDef="actions" >
                    <mat-header-cell *matHeaderCellDef class="col-1">Ver perfil</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="col-1">
                      <!-- <button type="button"class="btn btn-outline-primary"[dataSource]="alumateria" [routerLink]="['./editarCalif', row[8]]" >
                        <mat-icon>create</mat-icon> 
                      </button> -->
                      <button type="button"class="btn btn-outline-primary" [routerLink]="['./alumnoPerfil', row.idAlumno]">
                        <mat-icon>person</mat-icon> 
                      </button>
                      <!--<button mat-icon-button color="accent" [routerLink]="['./alumnoPerfil', row.pk_alumno]" 
                          class="tbl-action-btn">
                          <app-feather-icons [icon]="'users'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>-->
                    </mat-cell>
                    
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" 
                    [style.cursor]="'pointer'" matRipple>
                  </mat-row> 
                </mat-table>
                
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
                </mat-paginator> 
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>